/*VARIABLES*/
:root {
    --main-font-color: black;
    --sub-font-color: gray;
    --main-back-color: white;
    --footer-back-color: #0B3C5D;
    --footer-font-color: white;
    --header-back-color: rgba(255, 255, 255, 0.75);
    --font-size-gargantuan: 36px;
    --font-size-massive: 26px;
    --font-size-large: 22px;
    --font-size-medium: 20px;
    --font-size-small: 18px;
    --font-size-tiny: 16px;
    --font-size-miniscule: 14px;
}

@media screen and (max-width: 750px) {
    :root {
    --font-size-gargantuan: 32px;
    --font-size-massive: 26px;
    --font-size-large: 20px;
    --font-size-medium: 18px;
    --font-size-small: 16px;
    --font-size-tiny: 14px;
    --font-size-miniscule: 13px;
    }
}

@media screen and (max-width: 600px) {
    :root {
    --font-size-gargantuan: 30px;
    --font-size-massive: 23px;
    --font-size-large: 18px;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --font-size-tiny: 13px;
    --font-size-miniscule: 12px;
    }
}

.darkmode {
    --main-font-color: rgb(210, 210, 210);
    --sub-font-color: gray;
    --main-back-color: rgb(18, 19, 22);
    --footer-back-color: #0B3C5D;
    --footer-font-color: rgb(210, 210, 210);
    --header-back-color: rgba(18, 19, 22, 0.75);
}



/*RESPONSIVE*/



/*ABOUT*/

body {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0;
    background-color: var(--main-back-color);
    transition: all ease-in-out 250ms;
}

main {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, sans-serif;
    color: var(--main-font-color);
  }
  
.home-section {
    width: 90%;
    max-width: 800px;
    /*min-width: 700px;*/
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
}

.intro-p1 {
    flex-basis: 65%;
    padding: 5px;
}

.intro-i1 {
    flex-basis: 30%;
    padding: 12.5px 5px 5px 5px;
}

.intro-p2 {
    flex-basis: 65%;
    padding: 5px;
}

.intro-i2 {
    flex-basis: 30%;
    padding: 12.5px 5px 5px 5px;
}

.intro-img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    transition: all ease-in-out 250ms;
}

.intro-img-2 {
    width: 110%;
    min-width: 200px;
    transition: all ease-in-out 250ms;
}

/*ARTWORK*/

.artwork-subheading {
    font-size: var(--font-size-tiny);
    text-align: center;
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0;
}

.artwork-image-radial {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.artwork-image-radial-shrink {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
}

.artwork-button {
    margin-left: auto;
    margin-right: auto;
}

.radial-prev, .radial-next, .company-prev, .company-next {
    position: absolute;
    font-size: var(--font-size-medium);
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding: 16px;
    top: 45%;
}

.radial-container {
    position: relative;
}

.radial-next, .company-next {
    right: 0;
}

.radial-prev:hover, .radial-next:hover, .company-prev:hover, .company-next:hover {
    background-color: var(--sub-font-color);
    transition: all ease-in-out 250ms;
}

.dot-container {
    margin: auto;
    width: 78px;
}

.dot-container:after {
    content: "";
    display: table;
    clear: both;
}
  
.image-dot, .image-dot-2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    float: left;
    margin: 8px;
    opacity: 0.2;
}

.image-dot:hover:not(.active), .image-dot-2:hover:not(.active) {
    opacity: 0.5;
}

.active {
    opacity: 0.8;
}


/*RESEARCH*/

.spacer {
    padding-top: 20px;
}

.research-section {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
}

.research-heading {
    font-size: var(--font-size-massive);
    text-align: center;
    color: var(--main-font-color);
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0;
    transition: all ease-in-out 250ms;
}

.research-grid {
    /*display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-template-rows: auto auto;
    padding-top: 20px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.research-phtn-p1 {
    flex-basis: 65%;
    padding: 5px;
}

.research-phtn-i1 {
    flex-basis: 30%;
    padding: 12.5px 5px 5px 5px;
}

.research-phtn-p2 {
    flex-basis: 65%;
    padding: 5px;
}

.research-phtn-i2 {
    flex-basis: 30%;
    padding: 12.5px 5px 5px 5px;
}

.research-text {
    font-size: var(--font-size-small);
    color: var(--main-font-color);
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
    line-height: 1.5;
    transition: all ease-in-out 250ms;
}

.research-text-pic {
    font-size: var(--font-size-miniscule);
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    text-align: center;
    font-weight: 800;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
}

.research-image-phtn {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    min-width: 100px;
    max-width: 200px;
    transition: all ease-in-out 250ms;
}

.research-image-phtn2 {
    width: 110%;
    min-width: 200px;
    max-width: 300px;
    transition: all ease-in-out 250ms;
}

.research-image-anes {
    width: 100%;
}

.research-link {
    font-size: var(--font-size-small);
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
    line-height: 1.5;
    text-decoration: none;
}

.research-link:hover {
    color: var(--sub-font-color);
    transition: all ease-in-out 250ms;
}

@media screen and (max-width: 750px) {
    .research-grid {
        flex-direction: column;
        align-items: center;
    }

    .intro-img {
        width: 100%;
        min-width: 100px;
        max-width: 200px;
    }

    .intro-img-2 {
        width: 100%;
        min-width: 100px;
        max-width: 200px;
    }

    .intro-i2 {
        flex-basis: 30%;
        padding: 5px 5px 5px 5px;
    }
    
    .intro-i1 {
        flex-basis: 30%;
        padding: 5px 5px 5px 5px;
    }

    .research-image-phtn {
        width: 30%;
        margin-right: 35%;
        margin-left: 35%;
        min-width: 75px;
        max-width: 200px;
        transition: all ease-in-out 250ms;
    }
    
    .research-image-phtn2 {
        width: 100%;
        min-width: 100px;
        max-width: 200px;
        transition: all ease-in-out 250ms;
    }

    .research-phtn-i2 {
        flex-basis: 30%;
        padding: 5px;
    }

    .research-phtn-i1 {
        flex-basis: 30%;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .research-grid {
        flex-direction: column;
        align-items: center;
    }

    .intro-img {
        width: 100%;
        min-width: 75px;
        max-width: 150px;
    }

    .intro-img-2 {
        width: 100%;
        min-width: 75px;
        max-width: 150px;
    }

    .research-image-phtn {
        width: 30%;
        margin-right: 35%;
        margin-left: 35%;
        min-width: 60px;
        max-width: 100px;
        transition: all ease-in-out 250ms;
    }
    
    .research-image-phtn2 {
        width: 100%;
        min-width: 75px;
        max-width: 150px;
        transition: all ease-in-out 250ms;
    }
}



/*CURRICULUM VITAE*/

.cv-section {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", sans-serif;
}

.cv-name {
    font-size: var(--font-size-large);
    text-align: center;
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 50px;
    padding-bottom: 0px;
    margin: 0;
    font-weight: 800;
}

.cv-contact {
    font-size: var(--font-size-tiny);
    text-align: center;
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
}

.cv-heading {
    font-size: var(--font-size-large);
    text-align: left;
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0;
}

.cv-line {
    width: 100%;
    height: 3px;
    background-color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding: 0;
    margin: 0;
}

.cv-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-template-rows: auto;
    padding-top: 20px;
}

.cv-no-grid {
    padding-top: 20px;
}

.cv-date {
    grid-column: 1;
    grid-row: 1;
}

.cv-experience {
    grid-column: 2 / 6;
    grid-row: 1;
}

.cv-location {
    grid-column: 5;
    grid-row: 1;
    transition: all ease-in-out 250ms;
}

@media screen and (max-width: 650px) {
    .cv-location {
        opacity: 0;
        transition: all ease-in-out 250ms;
    }
}

.cv-bold {
    font-size: var(--font-size-tiny);
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
    font-weight: 800;
}

.cv-unbold {
    font-size: var(--font-size-tiny);
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
}

.cv-right-align {
    text-align: right;
}

.cv-left-align {
    text-align: left;
}

.cv-list {
    list-style-position: outside;
    padding-left: 10px;
    margin-left: 9px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.cv-pub-text {
    font-size: var(--font-size-tiny);
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
    font-weight: 800;
    text-decoration: underline;
}

.cv-pub-list {
    padding-bottom: 20px;
}

.cv-bolder {
    font-weight: 800;
}

/*NAV BAR HEADER*/

header {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    /*min-width: 800px;*/
    height: 50px;
    background-color: var(--header-back-color);
    position: fixed;
    top: 0;
    z-index: 5;
    transition: all ease-in-out 250ms;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.nav-container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.left-justify {
    float: left;
    font-weight: 700;
    padding-top: 10px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--main-font-color);
    transition: all ease-in-out 250ms;
}

@media screen and (max-width: 850px) {
    
    .navbar {
        position: absolute;
        top: 100%;
        right: 0%;
        /*height: 0px;
        overflow: hidden;*/
        clip-path: circle(0px at top right);
        transition: all ease-in-out 400ms;
    }

    .navbar-open {
        /*height: 400px;*/
        clip-path: circle(150% at top right);
        transition: all ease-in-out 400ms;
    }

    .bold-nav {
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
    }
    
    .unbold-nav {
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
    }
    
    .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    
    .navbar li {
        border-bottom: 1px solid var(--footer-font-color);
        transition: all ease-in-out 250ms;
        background: var(--footer-back-color);
    }
    
    .navbar li:hover {
        background: #328CC1;
    }

    .navbar li:last-child {
        border-bottom: none;
    }
    
    .unbold-nav, .bold-nav {
        color: var(--footer-font-color); 
        transition: all ease-in-out 250ms;      
        display: block;
        padding: 0.75em 2em;
        text-decoration: none;
        font-family: Helvetica, sans-serif;
        font-size: var(--font-size-large);
        position: relative;
    }

    .menu-button {
        position: absolute;
        padding: 1em;
        right: 2em;
        top: 0.5em;
        cursor: pointer;
    }
    
    .button-visual, .button-visual::before, .button-visual::after {
        content: '';
        display: block;
        background: var(--main-font-color);
        transition: all ease-in-out 400ms;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
    }

    .opener .button-visual {
        transform: rotate(45deg);
    }

    .opener .button-visual::before {
        opacity: 0;
    }

    .opener .button-visual::after {
        transform: translateY(-3px) rotate(-90deg);
    }
    
    .button-visual::before {
        transform: translateY(-8px);
    }
    
    .button-visual::after {
        transform: translateY(5px);
    }

}

@media screen and (min-width: 850px) {
    .navbar {
        float: right;
        height: auto;
     }

     .bold-nav {
        color: var(--main-font-color);
        transition: all ease-in-out 250ms;
    }
    
    .unbold-nav {
        color: var(--sub-font-color);
        transition: all ease-in-out 250ms;
    }

     .menu-button, .button-visual, .button-visual::after, .button-visual::before {
        height: 0;
        overflow: hidden;
     }
       
     nav ul {
         margin: 0;
         padding: 0;
         list-style-type: none;
     }
     
     nav li {
         display: inline-block;
         margin-left: 20px;
         padding-top: 10px;
         position: relative;
     }
     
     nav a {
         text-decoration: none;
         font-family: Helvetica, sans-serif;
         font-size: var(--font-size-large);
         transition: all ease-in-out 250ms;
     }
     
     nav button:hover {
         cursor: pointer;
     }
     
     nav .vanish::before {
         content: '';
         display: block;
         height: 3px;
         width: 0%;
         background-color: var(--main-font-color);
         position: absolute;
         top: 0;
         transition: all ease-in-out 250ms;
     }
     
     nav .appear:hover::before {
         width: 55%;
     }
     
     nav .appear::before {
         content: '';
         display: block;
         height: 3px;
         width: 0%;
         background-color: var(--main-font-color);
         position: absolute;
         top: 0;
         transition: all ease-in-out 250ms;
     }
     
     nav .vanish:hover::before {
         width: 100%;
     }
}


@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

/* FOOTER */

footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    margin-top: 20px;
    height: 85px;
    border-top: 2px solid var(--main-font-color);
    background-color: var(--footer-back-color);
    transition: all ease-in-out 250ms;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

.footer-container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.footer-logo {
    float: right;
    padding-top: 15px;
}

.footer-contact {
    float: left;
    padding-top: 10px;
}

.footer-text {
    font-size: var(--font-size-tiny);
    color: var(--footer-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
}

.footer-text-bold {
    font-size: var(--font-size-tiny);
    font-weight: 700;
    color: var(--footer-font-color);
    transition: all ease-in-out 250ms;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
}

.footer-logo-text {
    font-family: Yellowtail, sans-serif;
    font-size: var(--font-size-gargantuan);
    color: var(--footer-font-color);
    transition: all ease-in-out 250ms;
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: 'icomoon';
    src:  url('docs/assets/icomoon.eot?vzfyvw');
    src:  url('docs/assets/icomoon.eot?vzfyvw#iefix') format('embedded-opentype'),
      url('docs/assets/icomoon.ttf?vzfyvw') format('truetype'),
      url('docs/assets/icomoon.woff?vzfyvw') format('woff'),
      url('docs/assets/icomoon.svg?vzfyvw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /*speak: never;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu-icon-5:before {
    content: "\e900";
  }
  .icon-menu-icon-4:before {
    content: "\e901";
  }
  .icon-menu-icon-3:before {
    content: "\e902";
  }
  .icon-menu-icon-2:before {
    content: "\e903";
  }
  .icon-close-icon:before {
    content: "\e904";
  }
  .icon-menu-icon:before {
    content: "\e905";
    font-size: var(--font-size-large);
    color: var(--main-font-color);
  }

@media screen and (max-width: 850px) {
    .icon-moon-icon:before {
        content: "\e907";
        font-size: var(--font-size-large);
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
        display: inline-block;
        width: 250px;
        height: 55px;
        line-height: 55px;
        vertical-align: middle;
      }
      .icon-sun-icon:before {
        content: "\e909";
        font-size: var(--font-size-large);
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
        display: inline-block;
        width: 250px;
        height: 55px;
        line-height: 55px;
        vertical-align: middle;
      } 
}

@media screen and (max-width: 750px) {
    .icon-moon-icon:before {
        content: "\e907";
        font-size: var(--font-size-large);
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
        display: inline-block;
        width: 250px;
        height: 52px;
        line-height: 52px;
        vertical-align: middle;
      }
      .icon-sun-icon:before {
        content: "\e909";
        font-size: var(--font-size-large);
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
        display: inline-block;
        width: 250px;
        height: 52px;
        line-height: 52px;
        vertical-align: middle;
      } 
}

@media screen and (max-width: 600px) {
    .icon-moon-icon:before {
        content: "\e907";
        font-size: var(--font-size-large);
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
        display: inline-block;
        width: 250px;
        height: 48.5px;
        line-height: 48.5px;
        vertical-align: middle;
      }
      .icon-sun-icon:before {
        content: "\e909";
        font-size: var(--font-size-large);
        color: var(--footer-font-color);
        transition: all ease-in-out 250ms;
        display: inline-block;
        width: 250px;
        height: 48.5px;
        line-height: 48.5px;
        vertical-align: middle;
      } 
}

@media screen and (min-width: 850px) {
    .icon-moon-icon:before {
        content: "\e907";
        font-size: var(--font-size-large);
        color: var(--main-font-color);
        transition: all ease-in-out 250ms;
      }
      .icon-sun-icon:before {
        content: "\e909";
        font-size: var(--font-size-large);
        color: var(--main-font-color);
        transition: all ease-in-out 250ms;
      } 
}

@media screen and (max-width: 750px) {
    .spacer {
        padding-top: 5px;
    }
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
